.input-form {
    border-radius: 1px;

    .input-group {
        padding: 1rem;
        border: 2px solid white; 
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        

        &.horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            .letter-input {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 5px; 

                .guess-input {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid white;
                    width: 3rem;
                    height: 3rem; 
                    text-transform: uppercase;
                    border-radius: 1px;
                    cursor: pointer; 
                    font-size: 2rem; 
                    text-align: center;
                    line-height: 1.5rem;

                    &.grey {
                        background-color: #818384;
                    }
                    &.yellow {
                        background-color: #D3B964;
                    }
                    &.green {
                        background-color: #6AA761;
                    }
                }
            }
        }
    }
    .guess-entry {
        margin-bottom: 1rem;
    }
    .submitted-guess {
        display: flex;
        justify-content: center;
        margin-bottom: 0.25rem;
    
        .guess-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            border: 1px solid #000;
            margin-right: 4px;
            border-radius: 1px;
            font-size: 1.5rem; 

            &.green {
                background-color: #6AA761;
            }
            &.yellow {
                background-color: #D3B964;
            }
            &.grey {
                background-color: #818384;
            }
        }
    }

    .custom-button {
        display: inline-block;
        outline: 0;
        border: 0;
        margin-right: 1rem;
        cursor: pointer;
        border-radius: 20px;
        padding: 1rem;
        line-height: 1;
        transition: transform 200ms, background 200ms;
        background: linear-gradient(90deg, yellow, orange);
        background-size: 400% 400%;
        animation: gradient 8s ease infinite;
        color: #000000;
        box-shadow: 0 0 0 2px #000000 inset;

        &:hover {
            transform: translateY(-2px);
        }
    }

    .reset-btn-group {
        background: none;
        padding: 1.25rem;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
