.input-form {
    border-radius: 1px;

    .input-answer-group {
        padding: 1rem;
        border: 2px solid #000;
        margin-bottom: 1rem;
        background-color: purple;

        &.horizontal {
            display: flex;
            justify-content: center;
        }

        .color-selection {
            padding: 2px;
            font-size: 0.75rem;
        }
        .letter-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px; 
        .color-select {
            padding: 1rem;
            border: 1px solid #000;
            border-radius: 1px;
            text-transform: uppercase;
        }
        }
    }

    .input-group {
        padding: 1rem;
        border: 2px solid #000; 
        background-color: pink;

        &.horizontal {
            display: flex;
            justify-content: center;

            .letter-input {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 10px; 

                .guess-input {
                    border: 1px solid #000;
                    width: 20px;
                    text-transform: uppercase;
                    border-radius: 1px;
                    margin-bottom: 5px; 

                    &.has-letter {
                        background-color: green; 
                    }
                }

                .color-select {
                    padding: 1rem;
                    border: 1px solid #000;
                    border-radius: 1px;
                    text-transform: uppercase;
                }
            }
        }
    }

    #green {
        background-color: grey;
        padding: 1rem;
        border-top: 4px solid #000; 
    }
    #yellow {
        background-color: green;
        padding: 1rem;
        text-align: center; 
    }
    #grey {
        background-color: yellow;
        padding: 1rem;
        border-bottom: 4px solid #000; 
    }

    .input-label {
        padding-right: 2rem;
        font-weight: 500;
    }

    .green-input, .yellow-letter-input, .yellow-positions-input {
        border: 1px solid #000; 
        margin-right: 4px;
        width: 20px; 
        text-transform: uppercase;
        border-radius: 1px;

        &.has-letter {
            background-color: green; 
        }
    }

    .positions-box {
        width: 5rem;
    }
    .yellow-letter-input, .yellow-positions-input {
        &.has-letter {
            background-color: yellow; 
        }
    }

    .grey-input {
        width: 10rem; 
        text-transform: uppercase;
        border: 1px solid #000; 
        &.has-letter {
            background-color: grey; 
        }
    }

    .yellow-letter-group {
        margin-top: 1rem; 
        text-align: center; 
    }

    .custom-button {
        display: inline-block;
        outline: 0;
        border: 0;
        margin-right: 1rem;
        cursor: pointer;
        border-radius: 20px;
        padding: 10px;
        line-height: 1;
        transition: transform 200ms, background 200ms;
        background: linear-gradient(90deg, yellow, orange);
        background-size: 400% 400%;
	    animation: gradient 8s ease infinite;
        color: #000000;
        box-shadow: 0 0 0 2px #000000 inset;

        &:hover {
            transform: translateY(-2px);
        }
    }

    .reset-btn-group {
        background: none;
        padding: 1.25rem;
    }
    .submitted-guess {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    
        .guess-box {
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border: 1px solid #000;
            margin-right: 4px;
            border-radius: 1px;
            
            &.green {
                background-color: green;
            }
            &.yellow {
                background-color: yellow;
            }
            &.grey {
                background-color: grey;
            }
        }
    }
    
}
